<%- include('partials/header') -%>

<h1 class="text-4xl">Social API Integration </h1>

<% if (locals.isAuthenticated) { %>
    <h2 class="text-2xl mb-4">Welcome <%= user.name %></h2>

    <% if (user.picture) { %>
      <img class="block py-3" src="<%= user.picture %>" width="200" height="200" >
    <% } %>
    
    <p class="py-3">
      Profile Info 
    </p>

    <table>
  

      <tr>
        <td>Family Name</td>
        <td><%= user.family_name %></td>
      </tr>

      <tr>
        <td>Given Name</td>
        <td><%= user.given_name %></td>
      </tr>

      <tr>
        <td>Email</td>
        <td><%= user.email %></td>
      </tr>

      <tr>
        <td>Nickname</td>
        <td><%= user.nickname %></td>
      </tr>
 
    </table>
  
    <!-- <pre class="block bg-gray-300 p-4 text-sm overflow-scroll"><%= userProfile %></pre> -->
    <br> 
<% } else { %>
    <p>You are not logged in.</p> 
    <p><a href="/login" class="underline">Login</a>.</p>
<% } %>

<%- include('partials/footer') -%>
